<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_ERR">
      <PatternLayout pattern="%d{HH:mm:ss} [%highlight{%-5level}] [%logger{36}] %msg%n"/>
    </Console>
    <Console name="ConsolePlain" target="SYSTEM_ERR">
      <PatternLayout pattern="%msg%n"/>
    </Console>
    <RollingFile name="RollingFile" fileName="sandbox-test.log" filePattern="sandbox-test.%i.log">
      <PatternLayout pattern="%d{HH:mm:ss} [%-5level] %logger{36} - %msg%n"/>
      <SizeBasedTriggeringPolicy size="50000" />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
      <!-- <AppenderRef ref="RollingFile"/>-->
    </Root>
    <Logger name="LoggingPolicy" level="info" additivity="false">
      <AppenderRef ref="ConsolePlain"/>
    </Logger>
  </Loggers>
</Configuration>
